.mundur {
    background: silver;
    padding: 0;
    h3,
    h4 {
        color: #373c40;
    }
    h4 {
        font-size: 1.7rem;
        font-family: "Quicksand";
        font-weight: 700;
        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
        }
    }
    .gedung {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .orang-orang {
        position: absolute;
        bottom: -4%;
        left: 8%;
        width: 40vw;
        height: auto;
        // filter: drop-shadow(0px 1px 6px #1b1b1b); q
        @media screen and (max-width: 768px) {
            bottom: 5%;
            left: -30%;
            width: 110%;
            height: auto;
            filter: initial;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.infog {
    background: #424548;
    min-height: auto;
    padding: 0;
    .wrap-detikx {
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .image {
        width: 100%;
        height: fit-content;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
